
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Home | E-Shopper</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
	
</head><!--/head-->
<body>
	@{
		int count = 0;	
	}
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="images/home/logo.png" alt="" /></a>
						</div>
						
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								@if (User.IsInRole("Admin"))
								{
								<li>
									<a href="~/Admin/Home/Index">Admin</a>
								</li>
								}
							
								<li >
									<a asp-action="Index" asp-controller="Cart" style="position:relative">
										
										<div style=" height: 15px; width: 15px; background-color: #FFF;border:1px solid #000000; border-radius: 50%; display: inline-block; position:absolute; top:-2px;right:0">
												<span id="cart-count" style="font-size:14px; position:absolute;top:-2px;right:2px">@count</span>
										</div>
										<img src="~/images/home/cart.png" alt="bell" width="25" />
									</a>
								</li>
								<li style="position:relative"><a href="" style="position:relative">
										<div style=" height: 15px; width: 15px; background-color: #FFF;border:1px solid #000000; border-radius: 50%; display: inline-block; position:absolute; top:0;right:0 ">
											<span style="font-size:14px; position:absolute;top:-2px;right:2px">1</span>
										</div>
									<img src="~/images/home/bell.png" alt="bell" width="25"/></a>
								</li>
								@if (User.Identity?.IsAuthenticated ?? false)
								{
									<li><a asp-action="Logout" asp-controller="Auth">Chào, @User.Identity.Name Logout</a></li>
								}
								else
								{
									<li><a asp-action="Login" asp-controller="Auth">Login</a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Home</a></li>
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/">Products</a></li>
										<li><a asp-action="Index" asp-controller="Cart" >Cart</a></li> 
										@if (User.Identity?.IsAuthenticated ?? false)
										{
											<li><a asp-action="Logout" asp-controller="Auth">Chào, @User.Identity.Name Logout</a></li>
										}
										else
										{
											<li><a asp-action="Index" asp-controller="Auth">Login</a></li>
										}
									</ul>
                                </li> 
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	@RenderBody()
	<footer id="footer"><!--Footer-->
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="single-widget">
							<h2>Tổng đài hổ trợ</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Gọi mua: <b style=" color:blue">1900 232 460</b> (8:00-21:30)</a></li>
								<li><a href="#">Khiếu nại: <b style=" color:blue">1800.1062</b> (8:00-21:30)</a></li>
								<li><a href="#">Bảo hành: <b style=" color:blue">1900 232 464</b> (8:00-21:30)</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="single-widget">
							<h2>Về công ty</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Giới thiệu công ty (MWG.vn)</a></li>
								<li><a href="#">Tuyển dụng</a></li>
								<li><a href="#">Tìm siêu thị (2.966 shop)</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="single-widget">
							<h2>Thông tin khác</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Tích điểm quà tặng VIP</a></li>
								<li><a href="#">Lịch sử mua hàng</a></li>
								<li><a href="#">DV vệ sinh máy lạnh</a></li>
								<li><a href="#">Chính xách bảo hành</a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
    <script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
	@await Component.InvokeAsync("Notyf")




</body>
</html>
