@model IEnumerable<CategoryModel>
@foreach(var item in Model)
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<a asp-action="Index" asp-controller="Category" asp-route-Slug="@item.Slug">

			<h4 class="panel-title">@item.Name</h4>
			</a>
		</div>
	</div>
}