@model IEnumerable<BrandModel>
@foreach(var item in Model)
{
	<div class="brands-name">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#"> <span class="pull-right">(50)</span>@item.Name</a></li>
		</ul>
	</div>
}