@model IEnumerable<ProductModel>
<h1>Dashboard here</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <table class="table" id="tblProduct">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">ID</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <table class="table" id="tblOrder">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Tổng giá</th>
                        <th scope="col">Ngày đặt</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Products</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <canvas id="canvasProudcts" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Sales</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <canvas id="canvasSales" width="500" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js" integrity="sha512-Lii3WMtgA0C0qmmkdCpsG0Gjr6M0ajRyQRQSbTF6BsrVh/nhZdHpVZ76iMIPvQwz1eoXC3DmAg9K51qT5/dEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dashboard.js"></script>
}